/*
Solarized - a colour scheme I quite like:

Base03 #002b36 Darkest background
Base02 #073642 Dark background
Base01 #586e75 Content tones
Base00 #657b83 ''
Base0 #839496 ''
Base1 #93a1a1 ''
Base2 #eee8d5 Light background
Base3 #fdf6e3 Lightest background
Base4 #fef9ec Off-White - Luke's addition

Yellow #b58900
Orange #cb4b16
Red #dc322f
Magenta #d33682
Violet #6c71c4
Blue #268bd2
Cyan #2aa198
Green #859900

*/

*{
	font-size: 20px;
	font-family:Arial;
}
body {
	margin:2% 8% 0% 8%;
	background-color:#002b36;
}

h1{
  color:#eee8d5;
  font-size: 48px;
	font-family:"Georgia";
}

h2{
	text-decoration: underline;
  font-size: 34px;
	font-family:"Georgia";
}
h3{
	font-size: 24px;
	font-family:"Georgia";
}

button{
  background-color: #eee8d5;
  border: none;
  color: #073642;
  padding:20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin:4px 2px;
  border-radius: 12px;
}

button:hover{
  background-color: #ddd7c4;
}

a:link{
	color:#2aa198;
}
a:visited{
	color:#21827as;
}
a:hover{
	Color:#657b83;
}
a:active{
	color:#839496;
}


.box-white {
	padding: 1% 1% 1% 1%;
	margin:auto;
	align:center;
	background-color: #839496;
	color: #073642;
	text-align: center;
	width: 80%;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-2 {
	padding: 1% 4% 1% 4%;
	margin:auto;
	align:center;
	background-color: #fef9ec;
	color: #073642;
	text-align: center;
	width: 92%;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-3 {
	padding: 1% 4% 1% 4%;
	margin:auto;
	align:center;
	background-color: #fdf6e3;
	color: #073642;
	text-align: center;
	width: 92%;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pfPic{
	border:4px solid #839496;
	width: 160px;
	height: 160px;
}

.DylpfPic{
	border:4px solid #839496;
	width: 120px;
	height: 160px;
}

.image1 {
	border:4px solid #839496;
	border-radius: 18px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display:block;
	max-height: 50%;
	max-width: 50%;
}

.image2 {
	border:4px solid #839496;
	border-radius: 18px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display:block;
	max-height: 100%;
	max-width: 100%;
}

.image3 {
	border:4px solid #839496;
	border-radius: 18px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display:block;
	max-height: 100%;
	max-width: 100%;
}

.image4 {
	border:4px solid #839496;
	border-radius: 18px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display:block;
	max-height: 150%;
	max-width: 150%;
}

.borderforimages {
	border:4px solid #839496;
	border-radius: 18px;
	position: relative;
	display:block;
}
